@import '@unocss/reset/tailwind.css';

:root {
	--font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		sans-serif;
}

body {
	font-family: var(--font-sans);
	background-color: #f9fafb;
	color: #111827;
}
